/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Base */
body {
	font:16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #777;
    
    background-image: url("small.svg"); 
    background-repeat: repeat;
    
}

#wrapper {
	padding: 100px 40px;
	max-width: 500px;
	margin: 0 auto;
}

#header {
	border-bottom: 1px solid #eee;
	margin-bottom: 40px;
	padding-bottom: 40px;
	text-align: center;
	position: relative;
}

#avatar {
	display: inline-block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-bottom: 20px;
}





t {
	vertical-align:middle;
    text-align:center;
}



div.down {
    width: 180px;
    height: 40px;
    font-family:sans-serif;
    background-color: #ebebeb;
    
    margin-left: auto;
  margin-right: auto;
    
    
    border-radius: 20px;
}


div.down:hover {
    width: 190px;
    height: 50px;
    font-family:sans-serif;
    background-color: #ebebeb;
    
    margin-left: auto;
  margin-right: auto;
    
    
    border-radius: 25px;
}







.btn {
  border-radius: 100px;
  padding: 15px 55px;
  font-size: 18px;
  text-decoration: none;
  margin: 20px;
  color: #777;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}


.green {

  background-color: #ebebeb;
  /*box-shadow: 2px 4px 4px #eeeeee;*/
  border-radius: 100px;
  transition: all 0.2s ease;
  transform: scale(1);
}

.green:hover {
  background-color: #ebebeb;
/*  Making button bigger on hover  */
  transform: scale(1.1) perspective(1px)
}










a.userLink {
    width: 180px;
    height: 40px;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    color: #777;
    text-decoration: none;
    
    margin-left: auto;
  margin-right: auto;
}


a.userLink:hover {
    width: 190px;
    height: 50px;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    color: #777;
    text-decoration: none;
    
    margin-left: auto;
  margin-right: auto;
}



#button {
    transition: width 0.2s ease;
	display: inline-block;
	width: 200px;
    margin: auto;
	
}

#button:hover {
	display: inline-block;
	width: 210px;
	margin: auto;
}





/* Link to Documentation */
#docs {
	position: fixed; 
	top: 8px; 
	right: 6px;
	background: #5badf0; 
	color: #fff;
	padding: 8px 12px;
	font-size: 13px; 
	font-weight: bold; 
	line-height: 1.35;
	border-radius: 3px; 
	z-index: 100;
}

/* Made with Cactus Badge */
#badge {
	position: absolute; 
	bottom: 8px; 
	right: 8px;
	height: 48px; 
	width: 48px;
}

/* Type */
/* Accent color */
a {
	text-decoration: underline;
	color: #777;
	font-weight: 400;
}

h1 {
	font-weight: 400;
	font-size: 20px;
	color: #222;
}

h2 {
	font-size: 20px;
	font-weight: 300;
	color: #aaa; 
	margin-top: 10px;
}

p {
	line-height: 1.8;
	 margin-bottom: 30px;
	 font-size: 16px;
}

@media screen and (max-width: 540px) {
	#wrapper { padding:40px; }
	#header { margin-bottom: 40px; }
	#docs { display: none; }
}

@media screen and (max-width:440px) {
	#wrapper { padding:30px; }
	#header { margin-bottom: 20px; }
}
